@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0;
}

.Home {
  margin: 0;
  padding: 0;
  // background-color: rgb(157, 178, 191, 0.3);
  background-color: #f0f7f6;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
